@{
    ViewBag.Title = "Sobre";
}
<h2>Sobre</h2>

<p>
    Um entusiasta em tecnologia com mais de três anos de experiencia como Desenvolvedor .Net e mais de dez anos de experiencia de trabalho em diversas áreas como logística, comércio exterior, papel e celulose, automotiva e farmacêutica.
</p>
<p>
    Programador .Net com sólidos conhecimentos em programação orientada a objeto e bancos de dados estruturados, cursando Sistemas de Informação para aperfeiçoar os conhecimentos obtidos através de meus estudos individuais em programação.
</p>
<p>
    Quando usuário de sistemas de Comércio Exterior em meio a necessidades de ganho de produtividade, para atender as necessidades dos clientes e de minha equipe, comecei a desenvolver soluções baseadas em um mix de extrações SQL e planilhas incrementadas com VBA, vendo o ganho gerado, meu amor pela programação se desenvolveu e busquei evoluir meus conhecimentos migrando para linguagem C#.
</p>
<p>
    Por gostar de trabalhar em equipe e possuir dinamismo e ser comunicativo atuei por longo período mediando a comunicação e demandas entre clientes e equipe.
</p>
<p>
    Considero-me um profissional ambicioso, constantemente buscando por novos projetos, desafios e conhecimentos aplicáveis ao desenvolvimento de sistemas, afim de melhorar minha performance profissional.
</p>
