@{
    ViewBag.Title = "Dados Para Contato";
}
<h2>Dados Para Contato</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:eduardo.s.guedes@hotmail.com">eduardo.s.guedes@hotmail.com</a><br />
    <strong>Cel:</strong> <a href="https://api.whatsapp.com/send?phone=55041999285348&amp;text=oi,%20você%20Passou%no%20Teste">+55 41 9 9928-5348</a>
</address>